.appHeader {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000;
  padding: 10px 1rem;
  border-bottom: 1px solid #e0e0e0;
  display: flex;
  justify-content: center;
  align-items: center;

  .contentHeader {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 90%;

    .logo {
      font-size: 1.5rem;
      font-weight: bold;
      display: flex;
      flex-direction: row;
      align-items: center;
      text-decoration: none;

      img {
        width: 3rem;
      }
    }

    .navMobile {
      display: none;
    }

    .nav {
      display: flex;
      gap: 30px;

      a {
        text-decoration: none;
        font-size: 1rem;
      }
    }
  }
}

/*
  Tablet
  Mobile
 */
@media (max-width: 1024px) {
  .appHeader {
    justify-content: space-between;
    .contentHeader {
      width: 92%;
      .nav {
        display: none;
      }
      .navMobile {
        display: flex;
        gap: 15px;

        .icon {
          font-size: 1.5rem;
        }
      }
    }
  }
}

// Tablet
@media (min-width: 768px) and (max-width: 1024px) {
  .appHeader {
    justify-content: center;
    width: 98%;
  }
}

// Mobile
@media (max-width: 500px) {
  .appHeader {
    .logo {
      div {
        display: none;
      }
    }
  }
}
