// Colores generales

// Colores de tema claro
$color-light-text-badge: #032030;
$color-light-background-badge: #F4BF01;
$color-light-text: #00090E;
$color-light-hover-text: #006494;
$color-light-hover-text-shadow: #0065948b;
$color-light-button-text: black;
$color-light-background: #F7F7F7;
$color-light-background-glass: #F7F7F702;
$color-light-button-background: #D5DEEF;
$color-light-border: #666666;
$color-light-background-logo: #E2E2E2;


// Colores de tema oscuro
$color-dark-text-badge: #ff0;
$color-dark-background-badge: #032030;
$color-dark-text: #F0F3FA;
$color-dark-hover-text: #8AAEE0;
$color-dark-button-text: #F0F3FA;
$color-dark-background: #00090e;
$color-dark-button-background: #003554;

// Colores de error
$color-error-text: #e64444;